.btn {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.2em;
    font-family: "Libre Baskerville";
    padding: 15px 30px;
    border-radius: 0.35em;
    border: solid 3px #efefef;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: #d19a00;
    color: white;
}

.btn:active {
    background-color: rgba(255, 255, 255, 0);
    border-color: #d19a00;
    color: #49bf9d;
}

/* Add other specific landing page styles */
