@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:400,400italic,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

/* Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Landing Page Layout */
.landing-container {
    height: 100vh;
    /* Full screen */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    padding: 0 20px;
    /* For small screens */
    overflow: hidden;
}

/* Background Slideshow Container */
.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #2c2c2c;
    /* Fallback background color */
}

/* Individual slide elements */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
}

/* Background images for each slide */
.slide1 {
    background-image: url('../../images/background-01.webp');
    animation: slideAnimation1 15s infinite;
    opacity: 1;
    /* Start with first image visible */
}

.slide2 {
    background-image: url('../../images/background-02.webp');
    animation: slideAnimation2 15s infinite;
}

.slide3 {
    background-image: url('../../images/background-03.webp');
    animation: slideAnimation3 15s infinite;
}

/* Keyframes for seamless transitions */
@keyframes slideAnimation1 {

    0%,
    30% {
        opacity: 1;
    }

    33.33%,
    100% {
        opacity: 0;
    }
}

@keyframes slideAnimation2 {

    0%,
    30% {
        opacity: 0;
    }

    33.33%,
    63.33% {
        opacity: 1;
    }

    66.66%,
    100% {
        opacity: 0;
    }
}

@keyframes slideAnimation3 {

    0%,
    63.33% {
        opacity: 0;
    }

    66.66%,
    96.66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.landing-content {
    max-width: 600px;
    padding: 20px;
    width: 100%;
    /* Ensures it adjusts to screen size */
}

/* Typography */
h1 {
    font-size: 3em;
    color: #D16200;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-family: 'Libre Baskerville';
}

/* Button Styles */
.btn {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.2em;
    font-family: "Libre Baskerville";
    padding: 15px 30px;
    border-radius: 0.35em;
    border: solid 3px #efefef;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: #d19a00;
    color: white;
}

.btn:active {
    background-color: rgba(255, 255, 255, 0);
    border-color: #d19a00;
    color: #49bf9d;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }

    .btn {
        font-size: 1em;
        padding: 12px 25px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    .btn {
        font-size: 1em;
        padding: 10px 20px;
    }
}

.logo {
    width: 150px;
    /* Adjust size as needed */
    margin-bottom: 20px;
    /* Space between logo and the heading */
    display: block;
    margin-left: auto;
    margin-right: auto;
}